@font-face {
  font-family: mediumfont;
  src: url(./fonts/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: regularfont;
  src: url(./fonts/MADE\ Mirage\ Regular\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: boldfont;
  src: url(./fonts/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: thinfont;
  src: url(./fonts/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: blackfont;
  src: url(./fonts/MADE\ Mirage\ black\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: mont_light;
  src: url(./fonts/Mont-ExtraLightDEMO.otf);
}
@font-face {
  font-family: mont_heavy;
  src: url(./fonts/Mont-HeavyDEMO.otf);
}
@font-face {
  font-family: cafe24;
  src: url(./fonts/Cafe24Oneprettynight.ttf);
}
body{
  margin: 0px;
}
.nav_bar{
  height: 50px;
  width: 100%;
  display: flex;
  background-color: rgb(217, 230, 248);
  margin: 0;
  background-image: url(./images/street.jpg);
  background-position: center bottom;
  background-size: cover;
}
.nav_title{
  margin-left: 10px;
  font-size: 27px;
  margin-right: auto;
  color: rgb(96, 114, 163);
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-family: mont_heavy;
}
.nav_01{
  margin-left: auto;
  font-size: 15px;
  color: rgb(163, 199, 233);
  font-weight: bold;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-family: mont_heavy;
}

.nav_02{
  font-size: 15px;
  color: rgb(163, 199, 233);
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: mont_heavy;
}
.nav_01:hover{
  color: rgb(96, 114, 163);
}
.nav_02:hover{
  color: rgb(96, 114, 163);
}

.middle{
  height: 200px;
  width: 100%;
  background-color: black;
}
.middle h1{
  font-family: mont_light;
  font-size: 20px;
  line-height: 200px;
  text-align: center;
  margin: 0;
  color: white;
}

/*메인 이미지*/
.main{
  background-image: url(./images/rest.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  height: 400px;
  width: 100%;
}
.main h1{
  font-family: mont_light;
  margin: 0px;
  text-align: center;
  line-height: 400px;
}

/*그리드 시작*/
.grid_container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.grid_container a{
  text-decoration: none;
}
.grid_container h1{
  font-size: 15px;
  font-family: mont_light;
  opacity: 0.6;
  color: white;
  text-decoration: none;
  margin: 0;
  transition: ease-out 1s;
}
.grid_container .grid{
  width: 33.3%;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

.grid_container .grid_1{
  background-image: url(./images/01.png);
  
}
.grid h1:hover{scale: 1.5;}
.grid:hover{transform: scale(1.2);}
.grid_container .grid_2{
  background-image: url(./images/02.png);
}
.grid_container .grid_3{
  background-image: url(./images/03.png);
}
.grid_container .grid_4{
  background-image: url(./images/04.png);
}
.grid_container .grid_5{
  background-image: url(./images/05.png);
}
.grid_container .grid_6{
  background-image: url(./images/06.png);
}
.grid_container .grid_7{
  background-image: url(./images/07.png);
}
.grid_container .grid_8{
  background-image: url(./images/08.png);
}
.grid_container .grid_9{
  background-image: url(./images/09.png);
}
.grid_container .grid_10{
  background-image: url(./images/10.png);
}
.grid_container .grid_11{
  background-image: url(./images/11.png);
}
.grid_container .grid_12{
  background-image: url(./images/12.png);
}
.grid_container .grid_13{
  background-image: url(./images/13.png);
}
.grid_container .grid_14{
  background-image: url(./images/14.png);
}
.grid_container .grid_15{
  background-image: url(./images/15.png);
}
.grid_container .grid_16{
  background-image: url(./images/16.png);
}
.grid_container .grid_17{
  background-image: url(./images/17.png);
}
.grid_container .grid_18{
  background-image: url(./images/18.png);
}
.grid_container .grid_19{
  background-image: url(./images/19.png);
}
.grid_container .grid_20{
  background-image: url(./images/20.png);
}
.grid_container .grid_21{
  background-image: url(./images/21.png);
}


/*포스트들*/
.post{
  background-color: blanchedalmond;
  font-family: mont_light;
  font-size: 15px;
  padding: 20px;
  opacity: 1;
  height: 1000px;
}
.post img{
  float: left;  
  margin-right: 15px;
  margin-bottom: 10px;
  height: 30%;
  width: 30%;
  opacity: 1;
}
.post{
  margin: 0;
  font-family: cafe24;
}
.post h1{
  margin-top: 10px;
}
.p_container{
    background-color: white;
    opacity: 0.7;
    padding: 20px;
    line-height: 30px;
    position: relative;
    top: 50px;
}
.p_container p{
  height: 750px;
  width: 100%;
  overflow: auto;
  margin: 0;
}

/*nav*/

.post_nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  margin: 0;
  background-color: black;
  opacity: 1;
}
.post_nav .title{
  font-family: mont_light;
  color: white;
  margin-left: 10px;
  margin-right: 20px;
  position:relative;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
}

/*개별포스트*/
.post_1{
  background-image: url(./images/01.png) ;
  background-position: bottom bottom;
}
.post_2{
  background-image: url(./images/02.png) ;
  background-position: bottom bottom;
}
/*footer*/
.post_container .footer{
  width: 100%;
  height: 300px;
  background-color: black;
}

.footer .img img{
  width:10%;
  transition: ease 0.7s;
  margin: 2px;
}

.footer .img img:hover{
  transform: scale(1.2);
}
.footer .present{
  opacity: 0.5;
}
.footer .ins_img img{
  width: 20px;
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}
.footer .past_future{
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.footer .past_future img{
  width: 69px;
  
}
.footer .past img:hover{
  
}
.footer_p{
  text-align: center;
  color:white;
}