@font-face {
  font-family: mediumfont;
  src: url(./fonts/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: regularfont;
  src: url(./fonts/MADE\ Mirage\ Regular\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: boldfont;
  src: url(./fonts/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: thinfont;
  src: url(./fonts/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: blackfont;
  src: url(./fonts/MADE\ Mirage\ black\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: mont_light;
  src: url(./fonts/Mont-ExtraLightDEMO.otf);
}
@font-face {
  font-family: mont_heavy;
  src: url(./fonts/Mont-HeavyDEMO.otf);
}
@font-face {
  font-family: cafe24;
  src: url(./fonts/Cafe24Oneprettynight.ttf);
}
body{
  margin: 0px;
}
.nav_bar{
  height: 50px;
  width: 100%;
  display: flex;
  background-color: rgb(217, 230, 248);
  margin: 0;
  background-image: url(./images/street.jpg);
  background-position: center bottom;
  background-size: cover;
}
.nav_title{
  margin-left: 10px;
  font-size: 27px;
  margin-right: auto;
  color: rgb(96, 114, 163);
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-family: mont_heavy;
}
.nav_01{
  margin-left: auto;
  font-size: 15px;
  color: rgb(163, 199, 233);
  font-weight: bold;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-family: mont_heavy;
}

.nav_02{
  font-size: 15px;
  color: rgb(163, 199, 233);
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: mont_heavy;
}
.nav_01:hover{
  color: rgb(96, 114, 163);
}
.nav_02:hover{
  color: rgb(96, 114, 163);
}

.middle{
  height: 200px;
  width: 100%;
  background-color: black;
}
.middle h1{
  font-family: mont_light;
  font-size: 20px;
  line-height: 200px;
  text-align: center;
  margin: 0;
  color: white;
}

/*메인 이미지*/
.main{
  background-image: url(./images/rest.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  height: 400px;
  width: 100%;
}
.main h1{
  font-family: mont_light;
  margin: 0px;
  text-align: center;
  line-height: 400px;
}

/*그리드 시작*/
.grid_container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.grid_container a{
  text-decoration: none;
}
.grid_container h1{
  font-size: 15px;
  font-family: mont_light;
  opacity: 0.6;
  color: white;
  text-decoration: none;
  margin: 0;
  transition: ease-out 1s;
}
.grid_container .grid{
  width: 33.3%;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

.grid_container .grid_1{
  background-image: url(./images/01.png);
  
}
.grid h1:hover{scale: 1.5;}
.grid:hover{transform: scale(1.2);}
.grid_container .grid_2{
  background-image: url(./images/02.png);
}
.grid_container .grid_3{
  background-image: url(./images/03.png);
}
.grid_container .grid_4{
  background-image: url(./images/04.png);
}
.grid_container .grid_5{
  background-image: url(./images/05.png);
}
.grid_container .grid_6{
  background-image: url(./images/06.png);
}
.grid_container .grid_7{
  background-image: url(./images/07.png);
}
.grid_container .grid_8{
  background-image: url(./images/08.png);
}
.grid_container .grid_9{
  background-image: url(./images/09.png);
}
.grid_container .grid_10{
  background-image: url(./images/10.png);
}
.grid_container .grid_11{
  background-image: url(./images/11.png);
}
.grid_container .grid_12{
  background-image: url(./images/12.png);
}
.grid_container .grid_13{
  background-image: url(./images/13.png);
}
.grid_container .grid_14{
  background-image: url(./images/14.png);
}
.grid_container .grid_15{
  background-image: url(./images/15.png);
}
.grid_container .grid_16{
  background-image: url(./images/16.png);
}
.grid_container .grid_17{
  background-image: url(./images/17.png);
}
.grid_container .grid_18{
  background-image: url(./images/18.png);
}
.grid_container .grid_19{
  background-image: url(./images/19.png);
}
.grid_container .grid_20{
  background-image: url(./images/20.png);
}
.grid_container .grid_21{
  background-image: url(./images/21.png);
}


/*포스트들*/
.post{
  background-color: blanchedalmond;
  font-family: mont_light;
  font-size: 15px;
  padding: 20px;
  height: 1000px;
}
.post img{
  float: left;  
  margin-right: 15px;
  margin-bottom: 10px;
  height: 30%;
  width: 30%;
}
.post{
  margin: 0;
  font-family: cafe24;
}
.post h1{
  margin-top: 10px;
}
.p_container{
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    line-height: 30px;
    position: relative;
    top: 50px;
}
.p_container p{
  height: 750px;
  width: 100%;
  overflow: auto;
  margin: 0;
}
/*nav*/

.post_nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  margin: 0;
  background-color: black;
  opacity: 1;
}
.post_nav a{
  background-color: black;
}
.post_nav .title{
  font-family: mont_light;
  color: white;
  margin-left: 10px;
  margin-right: 20px;
  position:relative;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
}

/*개별포스트*/
.post_1{
  background-image: url(./images/01.png) ;
  background-position: bottom bottom;
}
.post_2{
  background-image: url(./images/02.png) ;
  background-position: bottom bottom;
}
.post_3{
  background-image: url(./images/03.png) ;
  background-position: bottom bottom;
}
.post_4{
  background-image: url(./images/04.png) ;
  background-position: bottom bottom;
}
.post_5{
  background-image: url(./images/05.png) ;
  background-position: bottom bottom;
}
.post_6{
  background-image: url(./images/06.png) ;
  background-position: bottom bottom;
}
.post_7{
  background-image: url(./images/07.png) ;
  background-position: bottom bottom;
}
.post_8{
  background-image: url(./images/08.png) ;
  background-position: bottom bottom;
}
.post_9{
  background-image: url(./images/09.png) ;
  background-position: bottom bottom;
}
.post_10{
  background-image: url(./images/10.png) ;
  background-position: bottom bottom;
}
.post_11{
  background-image: url(./images/11.png) ;
  background-position: bottom bottom;
}
.post_12{
  background-image: url(./images/12.png) ;
  background-position: bottom bottom;
}
.post_13{
  background-image: url(./images/13.png) ;
  background-position: bottom bottom;
}
.post_14{
  background-image: url(./images/14.png) ;
  background-position: bottom bottom;
}
.post_15{
  background-image: url(./images/15.png) ;
  background-position: bottom bottom;
}
.post_16{
  background-image: url(./images/16.png) ;
  background-position: bottom bottom;
}
.post_17{
  background-image: url(./images/17.png) ;
  background-position: bottom bottom;
}
.post_18{
  background-image: url(./images/18.png) ;
  background-position: bottom bottom;
}
.post_19{
  background-image: url(./images/19.png) ;
  background-position: bottom bottom;
}
.post_20{
  background-image: url(./images/20.png) ;
  background-position: bottom bottom;
}
.post_21{
  background-image: url(./images/21.png) ;
  background-position: bottom bottom;
}
/*footer*/
.page_footer{
  width: 100%;
  height: 800px;
  background-color: black;
}
.home_footer{
  width: 100%;
  height: 600px;
  background-color: black;
  padding-top: 70px;
}
.post_container .footer{
  width: 100%;
  height: 800px;
  background-color: black;
}

/*footer 이미지*/
.footer_images{
  display: flex;
  flex-direction: column;
}
.footer_images .fi_1{
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content:center;
}
.footer_images .fi_1 img{
  margin: 3px 3px 0px 3px;
}
.footer_images .fi_2{
  margin-bottom: 130px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content:center;
}
.footer_images .fi_2 img{
  margin: 3px 3px 0px 3px;
}
.footer_images img{
  width:70px;
  transition: ease 0.7s;
}

.footer .footer_images img:hover{
  transform: scale(1.2);
}

/*footer인스타*/

.footer .ins_img img{
  width: 20px;
  padding-top: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  transition: ease 0.3s;
}
.footer .ins_img img:hover{
  transform: scale(1.2);
}
.footer .ins_img{
  padding-top: 50px;
  border-top: white dashed 3px;
}

/*footer앞으로 가기/뒤로가기 */

.footer .past_future{
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.footer .past_future img{
  width: 120px;
  margin: 1px;
}
.footer .past{
  margin-right: 15px;
}
.footer .future{
  margin-left: 15px;
}
.footer .past img:hover{
  border: 1px white solid;
  margin: 0;
}
.footer .future img:hover{
  border: 1px white solid;
  margin: 0;
}

/*footer 글*/
.footer_p{
  text-align: center;
  color:white;
  margin: 0;
  padding:0;
}
.footer .footer_p_post{
  font-size: 10px;
  line-height: 18px;
}
.footer .copyright p{
  font-size: 13px;
  margin-top: 50px;
}
